@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 64px;
    background-color: black;
    color:white;

}

nav ul li{
    padding: 0px 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color:black ;
    color: white;
    font-family: 'Varela', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg1.jpg');
}

.bottom{
    background-color: black;
    position: sticky;
    bottom: 0;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
}

#myprogressbar{
    width:80vw;
    cursor: pointer;
    
}
.icons{
    margin-top: 14px;
    font-size: 30px;
}
.icons i{
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 74px;
}
.songitem{
    height: 50px;
    display: flex;
    width: 80%;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin:12px 0;

}

.songitem img{
    width: 21px;
    padding: 0 12px;
    border-radius: 34px;
}

.timestamp{
    padding: 0 12px;
}

.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela', sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}

